<div>
    <h2 id="page-heading">
        <span>Disciplines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-discipline" [routerLink]="['/discipline/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Discipline
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="disciplines?.length === 0">
        <span>No disciplines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="disciplines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Comment</span></th>
                    <th scope="col" ><span>Eleve</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let discipline of disciplines ;trackBy: trackId">
                    <td><a [routerLink]="['/discipline', discipline.id, 'view']">{{ discipline.id }}</a></td>
                    <td>{{ discipline.date | date:'medium' }}</td>
                    <td>{{ discipline.description }}</td>
                    <td>{{ discipline.comment }}</td>
                    <td>
                        <div *ngIf="discipline.eleve">
                            <a [routerLink]="['/eleve', discipline.eleve?.id, 'view']" >{{ discipline.eleve?.prenom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/discipline', discipline.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/discipline', discipline.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(discipline)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
